/*		VERSION 1.1.0 [MINOR UPDATE]		*/

#FeaturingsModule, #FeaturedListModule, #ContestModule
{
	background: rgba(255, 235, 59, 0.15) !important;
	border: 1px solid rgba(255, 235, 59, 0.3) !important;
}

#ContestModule h3
{
	color: var(--CSUIYellowColor) !important;
}

#AlertsNavModule pane .Broadcasts>li .Messages li, #ActivityNavModule pane .Broadcasts>li .Messages li
{
	padding: 5px;
	border-top: 1px solid rgba(158, 158, 158, 0.3);
	font-size: var(--CSUISmallFontSize);
}

#BexPromoModule .Content>a .MoneyCostOverlay, #BexPromoModule .Content>a .PointCostOverlay, #NewBexGamesModule li a overlay, #GamesListModule .Content>ul>li .Preview .GameName
{
	background: rgba(0, 0, 0, 0.8);
	font-size: var(--CSUISmallFontSize) !important;
}

#BexPromoModule .Content>a .PointCostOverlay, #NewBexGamesModule li a overlay.PointsCost, #GamesListModule .Content>ul>li .Preview .PointCost
{
	color: var(--CSUIGreenColor) !important;
}

#AvailableKeysListListToolbarModule button span
{
	font-size: var(--CSUIFontSize) !important;
	color: var(--CSUIGreenColor) !important;
}

#NewBexGamesModule li a overlay.Availability
{
	color: var(--CSUIRedColor) !important;
}

.AdvancedListSettingsModule>.Content .ActiveSortsAndFilters
{
	justify-content: center !important;
}

ul.Posts
{
	text-align: left;
}

.RichText blockquote
{
	opacity: 0.7;
	font-size: var(--CSUISmallFontSize) !important;
	padding: 5px !important;
	border-left: 2px solid var(--CSUIWhiteColor) !important;
	background: rgba(158, 158, 158, 0.07) !important;
}
