/*		VERSION 1.2.0 [MINOR UPDATE]		*/

.MainForm .Submit
{
	text-align: center;
}

.AdvancedListSettingsModule>.Content .Presets ul li:last-child
{
	margin-bottom: auto;
}

.AdvancedListSettingsModule>.Content .Presets ul li.Selected
{
	background: var(--CSUIDBGColor);
	padding: 5px;
	border: 1px solid rgba(156,204,101,0.5);
}

.AdvancedListSettingsModule>.Content .Presets ul li.Selected a
{
	color: var(--CSUIGreenColor) !important;
}

.AdvancedListSettingsModule>.Content .Presets ul li.Selected a:hover
{
	color: var(--CSUILinkHoverColor) !important;
}

maticon.RemoveToggleButton.RedColor
{
	opacity: 0.8;
}

maticon.RemoveToggleButton.RedColor:hover
{
	opacity: 1;
}

#SubNavigator .ActiveEntry a
{
	color: var(--CSUIGreenColor);
}

#SectionExplanationsModule #SectionAreas>li .Sections li itemCount.RecentlyAddedItems
{
	color: var(--CSUIGreenColor) !important;
	font-weight: bold !important;
	font-size: 14px !important;
}

#SectionExplanationsModule #SectionAreas>li .Sections li itemCount.RecentlyUpdatedItems
{
	color: var(--CSUIBlueColor) !important;
	font-weight: bold !important;
	font-size: 14px !important;
}

.PageModule>.Description
{
	padding: 5px 10px;
	margin-bottom: 5px auto;
	color: var(--CSUIWhiteColor);
	font-size: var(--CSUIH4FontSize);
	background: rgba(158, 158, 158, 0.3);
}

#ModeratorNoticeModule article, #PrivateAccessNoticeModule p
{
	color: var(--CSUIWhiteColor) !important;
}

p#Countdown
{
	color: var(--CSUIRedColor) !important;
	font-size: var(--CSUIH4FontSize);
}

.Modal .Contents>module>.Description, .Modal .Contents>module>.LogMessages
{
	margin-right: 0;
}

#LikesModule record, #ThankersLogModule record
{
	padding: 5px;
	margin: 5px;
	text-align: center;
}

.SubmissionsListModule recordcell.Preview
{
	max-width: initial;
}
