/*		[BUTTONS]		*/

button, .ButtonLike
{
	font-size: var(--CSUIButtonFontSize);
	font-family: var(--CSUIButtonFF);
	padding: var(--CSUIButtonPadding) !important;
	background: var(--CSUIButtonBGColor) !important;
	color: var(--CSUIButtonTextColor);
	font-weight: bold !important;
	text-shadow: 2px 2px #000;
}

button:hover, .ButtonLike:hover, #GameMatchesModule ul li:hover a, #GameMatchesModule ul li:hover a, #SectionMatchesModule ul li:hover a, #Recipients .RecipientGroup>div ul li:hover
{
	background: var(--CSUIButtonBGHoverColor) !important;
	color: var(--CSUIWhiteColor) !important;
}

a.ButtonLike:hover
{
	text-shadow: none !important;
}

.ButtonLike.Selected, button.Expanded, button[disabled]:hover, button[disabled].Selected, button[disabled].Expanded, .ButtonLike[disabled]:hover, .ButtonLike[disabled].Selected, .ButtonLike[disabled].Expanded, button[disabled], .ButtonLike[disabled], #SectionMatchesModule ul li.Selected a, #GameMatchesModule ul li.Selected a, #Recipients .RecipientGroup>div ul li.SelectedRecipient, .ButtonLike.Expanded
{
	background: var(--CSUIButtonSelectedBGColor) !important;
	color: var(--CSUIGreenColor) !important;
}

.Modal .CloseModal:hover
{
	color: var(--CSUIRedColor);
}

.Modal .CloseModal, #MasterLog log .CloseButton
{
	color: var(--CSUIYellowColor);
	font-size: var(--CSUILargeFontSize) !important;
}

#ThanksToggleModule .Content #ShowThanksOptionsToggle.ModalLauncher
{
	color: var(--CSUIYellowColor);
	opacity: 0.8 !important;
}

#ThanksToggleModule .Content #ShowThanksOptionsToggle.ModalLauncher:hover
{
	opacity: 1 !important;
}

button.IconButton span, button.IconButton hoverAlt, .ButtonLike.IconButton span, .ButtonLike.IconButton hoverAlt
{
	padding: var(--CSUIButtonTextSpanPadding) !important;
	border: 0 !important;
}

#AlternateFileSourcesModule li small
{
	color: var(--CSUIWhiteColor) !important;
	font-size: var(--CSUISmallFontSize) !important;
}

#FilesModule .Content ul li .DownloadOptions a span small
{
	font-size: var(--CSUISmallFontSize);
	color: var(--CSUIWhiteColor);
	display: block;
	text-transform: uppercase;
}

#PageFooter #ImportantLinks li a
{
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	font-family: var(--CSUIButtonFF) !important;
}

#PageFooter #ImportantLinks li a:hover
{
	background: var(--CSUIButtonBGHoverColor);
	text-shadow: none !important;
}

#PageFooter #ImportantLinks li a:hover span
{
	color: var(--CSUIWhiteColor) !important;
}

.AdvancedElement_Switch li
{
	font-size: var(--CSUISmallFontSize);
	font-family: var(--CSUIMonoFF);
	margin-right: 3px;
}

#HistoryListModule .Content .Changes li .NewVersion > button, #HistoryListModule .Content .Changes li .PreviousVersion > button
{
	font-size: var(--CSUISmallFontSize);
	margin: 0 3px 0 0;
}

.IconOnlyButton
{
	margin: auto 5px;
}

.PostsListModule .Posts>li .PostTools .TopAnswerToggleButton
{
	font-size: var(--CSUIButtonFontSize);
	margin: auto 5px;
}

/*		UNIQUE BUTTONS		*/

.ExtendedContentButton
{
	color: var(--CSUIButtonTextColor);
	background: rgba(156, 204, 101, 0.4) !important;
}

#FilesModule .Content ul li .DownloadOptions a, #AlternateFileSourcesModule li
{
	padding: 10px !important;
	background: rgba(156, 204, 101, 0.4) !important;
	font-weight: bold !important;
	font-family: var(--CSUIButtonFF) !important;
	font-size: var(--CSUIButtonFontSize);
}

#FilesModule .Content ul li .DownloadOptions a:hover
{
	background: rgba(156, 204, 101, 0.8) !important;
	color: var(--CSUIWhiteColor) !important;
	text-shadow: none !important;
}

#LikeToggleModule button, #ThanksToggleModule button
{
	background: rgba(186, 104, 200, 0.4) !important;
}

#LikeToggleModule button:hover, #ThanksToggleModule button:hover
{
	background: rgba(186, 104, 200, 0.8) !important;
}

#BuddyToggleModule button, #SubmitterSubscriptionToggleModule button, #GameSubscriptionToggleModule button, #SubmissionSubscriptionToggleModule button, button#WaveformToggle, #MemberSubscriptionToggleModule button
{
	background: rgba(79, 195, 247, 0.4) !important;
}

#BuddyToggleModule button:hover, #SubmitterSubscriptionToggleModule button:hover, #GameSubscriptionToggleModule button:hover, #SubmissionSubscriptionToggleModule button:hover, button#WaveformToggle:hover, #MemberSubscriptionToggleModule button:hover
{
	background: rgba(79, 195, 247, 0.8) !important;
}

#PmMeModule button
{
	background: rgba(255, 235, 59, 0.4) !important;
}

#PmMeModule button:hover
{
	background: rgba(255, 235, 59, 0.8) !important;
}

#PageFooter #ImportantLinks li #AddIdeaLink
{
	background: rgba(255, 235, 59, 0.4) !important;
	color: var(--CSUIYellowColor) !important;
}

#PageFooter #ImportantLinks li #AddIdeaLink:hover
{
	background: rgba(255, 235, 59, 0.8) !important;
}

#PageFooter #ImportantLinks li #AddBugLink
{
	background: rgba(232, 78, 64, 0.4) !important;
	color: var(--CSUIRedColor) !important;
}

#PageFooter #ImportantLinks li #AddBugLink:hover, #AddModnoteFormRequesterModule button:hover, #IssueAddFormRequesterModule button:hover, button#sbmtgmtrshr:hover
{
	background: rgba(232, 78, 64, 0.8) !important;
}

#AddModnoteFormRequesterModule button, #IssueAddFormRequesterModule button, button#sbmtgmtrshr
{
	background: rgba(232, 78, 64, 0.4) !important;
}

#PageFooter #ImportantLinks li #AddTicketLink
{
	background: rgba(79, 195, 247, 0.4) !important;
	color: var(--CSUIBlueColor) !important;
}

#PageFooter #ImportantLinks li #AddTicketLink:hover
{
	background: rgba(79, 195, 247, 0.8) !important;
}

#UiThemeInstallerModule button, #AvailableKeysListListToolbarModule button, #InstallFormModule button
{
	background: rgba(156, 204, 101, 0.4) !important;
}

#UiThemeInstallerModule button:hover, #AvailableKeysListListToolbarModule button:hover, #InstallFormModule button:hover, .ExtendedContentButton:hover, button.Selected
{
	background: rgba(156, 204, 101, 0.8) !important;
}

#ModlogListAdvancedListSettingsModule button, #SubmissionsListAdvancedListSettingsModule button, #MembersListAdvancedListSettingsModule button, #WithheldSubmissionsListAdvancedListSettingsModule button
{
	background: rgba(128, 203, 196, 0.4) !important;
}

#ModlogListAdvancedListSettingsModule button:hover, #SubmissionsListAdvancedListSettingsModule button:hover, #MembersListAdvancedListSettingsModule button:hover, #WithheldSubmissionsListAdvancedListSettingsModule button:hover
{
	background: rgba(128, 203, 196, 0.8) !important;
}