/*		[HEADINGS]		*/

h1, h2, h3, h4, h5, h6, fieldset legend
{
	font-family: var(--CSUIHFF) !important;
	color: var(--CSUIHColor);
}

h3, #SubmissionsListModuleGroup h3
{
	font-size: var(--CSUIH3FontSize) !important;
	text-align: center;
}

h4, #FeaturesSliderModule .Slides .Slide .Info .Name small, #FeaturesSliderModule .Slides .ExpandedSlide .Info .Name small
{
	font-size: var(--CSUIH4FontSize) !important;
}

.PageModule>h3, moduleGroup>h3
{
	text-align: center;
	padding: 5px;
	background: rgba(158, 158, 158, 0.3);
	margin: 0 0 10px 0;
}

.PageModule>h3:after, moduleGroup>h3:after
{
	display: none;
}

#FeaturesSliderModule .Slides .Slide .Info .Name h4, #FeaturesSliderModule .Slides .ExpandedSlide .Info .Name h4, #FeaturesSliderModule .Slides .Slide .FeatureType, #FeaturesSliderModule .Slides .ExpandedSlide .FeatureType
{
	background: var(--CSUISLBGColor) !important;
	color: var(--CSUIWhiteColor) !important;
	font-size: 24px !important;
	padding: 0 10px !important;
}

#FeaturesSliderModule .Slides .Slide .Info .Name small, #FeaturesSliderModule .Slides .ExpandedSlide .Info .Name small
{
	background: var(--CSUISLBGColor) !important;
	color: var(--CSUIWhiteColor) !important;
}

h5, h6, #TopNav module pane h5, #SideNav module pane h5
{
	font-size: var(--CSUIH56FontSize);
}

#HeadlineWrapper overlay h1
{
	font-size: 40px;
	text-shadow: 1px 1px 1px #000000, 1px 1px 1px #000000, 1px 1px 1px #000000;
}

#HeadlineWrapper overlay h2
{
	font-size: 20px !important;
	text-shadow: 1px 1px 1px #000000, 1px 1px 1px #000000, 1px 1px 1px #000000 !important;
}

#HeadlineWrapper
{
	background: initial;
}
