.lg-next.lg-icon:hover, .lg-prev.lg-icon:hover
{
	color: var(--CSUIWhiteColor) !important;
}

.lg-toolbar
{
	background-color: var(--CSUISLBGColor) !important;
}

#lg-counter
{
	color: var(--CSUIGreyColor) !important;
	font-size: var(--CSUISmallFontSize) !important;
}

.lg-toolbar .lg-icon:hover
{
	color: var(--CSUIWhiteColor) !important;
}

.lg-toolbar .lg-icon
{
	color: var(--CSUITealColor) !important;
}

.lg-actions .lg-next, .lg-actions .lg-prev
{
	background-color: var(--CSUISLBGColor) !important;
	color: var(--CSUITealColor) !important;
}

.lg-sub-html
{
	background-color: rgba(0, 0, 0, 0.25) !important;
	color: var(--CSUIBodyTextColor) !important;
}
