/*		[MISCELLANEOUS]		*/

.PageModule>.RelatedLinksButton
{
	color: var(--CSUIYellowColor);
	opacity: 0.8 !important;
}

.PageModule>.RelatedLinksButton:hover
{
	opacity: 1 !important;
}

.MainForm .InputsWrapper fieldset>legend:after
{
	height: var(--CSUIPMH3UnderlineHeight);
	margin: var(--CSUIPMH3UnderlineMargin);
	width: var(--CSUIPMH3UnderlineWidth);
	background: var(--CSUIPMH3UnderlineColor);
}

#ManagersListModule ul li .SeniorPermitHolder
{
	color: var(--CSUIRedColor);
}

ol, ul, menu, li
{
	list-style-position: inside;
}

#GamesNavModule pane header .SubscriptionBenefitsNotice wrapper placeholder
{
	border: 2px dashed var(--CSUIIndigoColor);
	border-radius: 100% !important;	/*	[Version 1.2.0 | Addition]	*/
}

#TopGamesModule .Content .GameTypeFilters li
{
	padding: 5px;
}

#TopGamesModule .Content .GameTypeFilters
{
	font-size: var(--CSUILargeFontSize) !important;
	font-family: var(--CSUIHFF) !important;
}

.AdvancedElement_Tabs li.Selected
{
	background: var(--CSUISNActiveEntryBGColor) !important;
	color: var(--CSUIGreenColor);
	border-bottom: var(--CSUISNActiveEntryBorderBottom);
	border-bottom-width: 5px;
}

.AdvancedElement_Tabs.Minimal li:hover
{
	background: var(--CSUISNEntryHoverBGColor);
	border-bottom: var(--CSUISNEntryHoverBorderBottom);
	border-bottom-width: 5px;
}

#TopGamesModule .Content .AdditionalLinks a, #GamesListModule .Endnote a
{
	padding: 10px !important;
	background: var(--CSUIDBGColor) !important;
	border: var(--CSUIDBorder) !important;
	font-size: var(--CSUIFontSize) !important;
	font-family: var(--CSUIHFF) !important;
}

article>ul
{
	padding: 5px;
}

#SettingsPortalModule ul li
{
	margin: 0 15px 15px 0;
	padding: 10px;
	background: var(--CSUIRecordsBGColor);
	border: var(--CSUIRecordCellBorder);
	opacity: 0.8;
	list-style-type: none;
}

#SettingsPortalModule ul li:hover
{
	opacity: 1;
}

#SectionAddFormSelectorModule .Content #SelectSectionStep .Column li a
{
	margin: 0 5px 10px 0;
	padding: 10px;
	background: var(--CSUIRecordsBGColor);
	border: var(--CSUIRecordCellBorder);
	opacity: 0.8;
}

#SectionAddFormSelectorModule .Content #SelectSectionStep .Column li a:hover
{
	opacity: 1;
}

option, .OptionLike
{
	background: var(--CSUISLBGColor) !important;
}

.MainForm fieldset#Category .UberSelect .OptionsWrapper .Options .Selected
{
	color: var(--CSUIWhiteColor) !important;
	background: #616161 !important;
	border: 2px solid var(--CSUIGreenColor) !important;
}

.tooltipster-sidetip .tooltipster-box, body>.BananaTip, #BuddiesNavModule pane article #BuddyChatInitiators.Active li:hover span
{
	background: rgba(17, 17, 17, 0.9);
	border: 1px solid var(--CSUIGreyColor);
}

.tooltipster-base .Title, body>.BananaTip .Title
{
	color: var(--CSUIWhiteColor);
}

.tooltipster-base .Title:after, body>.BananaTip .Title:after
{
	width: 100%;
	background: var(--CSUIWhiteColor);
}

.MainForm fieldset .UploadedFiles, .Editor .WysiwygPalettes .UsernameInserter ul, .MainForm fieldset#EmbeddedMedia ul, .MainForm fieldset#Attributes .SelectedAttributes > div, .MainForm fieldset#Attributes .AvailableAttributes > div, .MainForm fieldset#SubmissionAuthors #AuthorGroupsList, .MainForm fieldset#SubmissionAuthors #AuthorGroupsList li .AuthorsList, .MainForm fieldset#SubmissionAuthors #AuthorGroupsList li .BulkAddAuthorInput, .MainForm fieldset#AlternateFileSources ul, .MainForm fieldset#Requirements ul, .Editor .WysiwygPalettes .ImageInserter ul, .MainForm fieldset#Attributes .AvailableAttributes ul .AttributesGroup, #NavOptionsNavModule pane #NavOptionsUiThemeList, .WysiwygList ul, fieldset#OfficialAttributes wrapper .SectionsMenu, fieldset#OfficialAttributes wrapper .Sections, fieldset#OfficialAttributes wrapper .Sections .Section ul, #Recipients .RecipientGroup>div ul, #EmbeddableImagesListModule li, .MainForm fieldset#ChangeLog ul, .Editor .WysiwygPalettes .BitpitFileInserter ul
{
	background: var(--CSUIULListBGColor) !important;
	border: var(--CSUIULListBorder) !important;
}

.MainForm fieldset .UploadedFiles li, .MainForm fieldset#SubmissionAuthors #AuthorGroupsList li, .MainForm fieldset#AlternateFileSources ul li, .MainForm fieldset#EmbeddedMedia ul li, .MainForm fieldset#Requirements ul li, #NavOptionsNavModule pane #NavOptionsUiThemeList li, .WysiwygList ul li, .MainForm fieldset#Attributes .SelectedAttributes ul li, fieldset#OfficialAttributes wrapper .SectionsMenu li, fieldset#OfficialAttributes wrapper .Sections .Section ul li, .Editor .WysiwygPalettes .UsernameInserter ul li, #Recipients .RecipientGroup>div ul li, #EmbeddableImagesListModule li .Codes, .MainForm fieldset#ChangeLog ul li, .Editor .WysiwygPalettes .BitpitFileInserter ul li
{
	background: var(--CSUIULListLIBGColor) !important;
	border: var(--CSUIULListLIBorder) !important;
}

#EmbeddableImagesListModule li
{
	padding: 10px;
	margin: 10px 0 10px 0;
}

.Content .DefinitionListEntries ul, #ProfileWysiwygEditor .InputWrapper #AvailableModules, #ProfileWysiwygEditor .InputWrapper #TemplateGrid row
{
	background: var(--CSUIULListBGColor) !important;
	border: var(--CSUIULListBorder) !important;
}

.Content #EnabledDefinitionListEntries li, .Content #AvailableDefinitionListEntries li, #ProfileWysiwygEditor .InputWrapper #AvailableModules .TemplateModule, #ProfileWysiwygEditor .InputWrapper #TemplateGrid row column placeholder, .Editor .WysiwygPalettes>palette
{
	background: var(--CSUIULListLIBGColor) !important;
	border: var(--CSUIULListLIBorder) !important;
}

#ProfileWysiwygEditor .InputWrapper #TemplateGrid row column
{
	background: var(--CSUIULColumnBGColor) !important;
	border: var(--CSUIULColumnBorder) !important;
}

.meter1
{
	color: var(--CSUIRedColor) !important;
}

.meter2
{
	color: var(--CSUIOrangeColor) !important;
}

.meter3
{
	color: var(--CSUIYellowColor) !important;
}

.meter4
{
	color: var(--CSUIGreenColor) !important;
}

.meter5
{
	color: var(--CSUIBlueColor) !important;
}

.RecipientGroups .RecipientGroup .MasterSwitch .CustomOptionsToggle
{
	color: var(--CSUILinkColor) !important;
}

.RecipientGroups .RecipientGroup .MasterSwitch .CustomOptionsToggle:hover
{
	color: var(--CSUILinkHoverColor) !important;
}

.RichText h1 .IndexNumber, .RichText h2 .IndexNumber, .RichText h3 .IndexNumber, .RichText h4 .IndexNumber, .RichText h5 .IndexNumber, .RichText h6 .IndexNumber, .RichText .TableOfContents ul li .IndexNumber
{
	font-weight: bold !important;
	color: var(--CSUIGreyColor) !important;
}

.Content #AvailableDefinitionListEntries li
{
	color: var(--CSUIRedColor) !important;
}

.Content #EnabledDefinitionListEntries li
{
	color: var(--CSUIGreenColor) !important;
}

#ProfileTemplate textarea
{
	color: var(--CSUIGreenColor);
}

#UnlocksEditFormModule .Content .InputsWrapper .InputWrapper .SalePromo
{
	color: var(--CSUIYellowColor);
}

.Avatar.HasClearanceLevel
{
	box-shadow: none;
	border: 2px solid var(--CSUIRedColor);
}

.Avatar.Online:after, .MemberLink.Online:after
{
	box-shadow: none;
	border: 1px solid #000000;
	background: var(--CSUIGreenColor);
}

.Avatar.IsRipeSupporter
{
	background: linear-gradient(to bottom, #e84e40, #FFEB3B, #9CCC65, #4FC3F7, #BA68C8);
	padding: 5px !important;
}

#SectionAddFormSelectorModule .Content #SelectGameStep .GamesList .LetterGroup
{
	color: var(--CSUIBlueColor);
	font-size: var(--CSUILargeFontSize);
}

select optgroup, .SelectLike optgroup
{
	color: var(--CSUIBlueColor);
}

.MainForm fieldset#LicenseChecklist #ChecklistWrapper ul li span, .MainForm fieldset#LicenseChecklist #ChecklistWrapper ul li select
{
	font-size: var(--CSUIFontSize);
}

.AdvancedListSettingsModule>.Content .OrderAndSortControls fieldset legend
{
	 font-size: var(--CSUISmallFontSize);
	color: var(--CSUILinkColor);
}

.AdvancedListSettingsModule>.Content .ActiveSortsAndFilters toggle
{
	background: var(--CSUIPanesCardBGColor);
	padding: 5px;
	border: 1px solid rgba(156, 204, 101, 0.5);
	color: var(--CSUIGreenColor);	/*	[Version 1.2.0 | Addition]	*/
}

.AdvancedListSettingsModule>.Content .Presets ul li
{
	background: var(--CSUIPanesCardBGColor);
	padding: 5px;
	border: 1px solid rgba(128, 203, 196, 0.5);
}

#SubmissionsListAdvancedListSettingsModule .SelectedGames:empty:after
{
	color: var(--CSUIRedColor);
	font-size: var(--CSUISmallFontSize);
}

#SubmissionsListAdvancedListSettingsModule .RecentGames li, #SubmissionsListAdvancedListSettingsModule .SelectedGames li
{
	padding: 5px;
	background: var(--CSUIDBGColor);
	border: var(--CSUIDBorder);
	margin: 3px;
}

#ContentGrid.HiddenColumnMode.md row>column.md-h
{
	border: var(--CSUIContentColumnBorder);
	background: var(--CSUIContentColumnBGColor);
}

.MainForm .InputsWrapper .InputHasError .InputHelp, .MainForm .InputsWrapper .InputHasError .InputError, .MainForm .InputsWrapper .InputHasError .InputWrapper
{
	border-left: 5px solid var(--CSUIRedColor);
}

#SectionsModule .Info .CategoriesListWrapper, #CategoriesListModule record .Info .SubcategoriesListWrapper
{
	margin: 10px 0 5px 0 !important;
	font-size: var(--CSUISmallFontSize) !important;
	border: 2px solid rgba(156, 204, 101, 0.2) !important;
	box-shadow: inset 3px 3px 5px 0px rgba(0, 0, 0, 0.5) !important;
	background: var(--CSUITextAreaBGColor) !important
}

itemCount
{
	font-family: var(--CSUIMonoFont) !important;
	color: var(--CSUIGreenColor) !important;
}

.ScriptPreview code
{
	background: rgba(0, 0, 0, 0.3);
	font-size: 10px !important;	/*	[Version 1.2.0 | Updated]	*/
}

code
{
	font-family: var(--CSUIMonoFF) !important;
	color: var(--CSUIGreenColor) !important;
}

#RulesModule ol li
{
	font-size: var(--CSUISmallFontSize);
	color: var(--CSUIRedColor);
}

#ItemProfileModule .CodeWithLineNumbers
{
	font-size: var(--CSUISmallFontSize) !important;
	border: 2px solid rgba(156, 204, 101, 0.2) !important;
	box-shadow: inset 3px 3px 5px 0px rgba(0, 0, 0, 0.5) !important;
	background: var(--CSUITextAreaBGColor) !important;
	font-family: var(--CSUIMonoFF) !important
}

#CodeViewerModule .CodeWithLineNumbers .Code
{
  border-left: 1px solid var(--CSUIGreyColor);
  width: 100%;
  text-align: left;
  font-size: var(--CSUISmallFontSize) !important;
}

#SearchSuggesterModule .GeneralSuggestions li
{
	color: var(--CSUIBlueColor);
}

#OverviewModule .Content .StatBlock dl dd.Type_number
{
	font-family: var(--CSUIMonoFF);
}

.Editor .ViewModes .Wysiwyg .RichText .HoveredElement
{
	outline: 2px dotted var(--CSUIPurpleColor);
}

p.NoRecordsFound
{
	color: var(--CSUIRedColor);
}

#EmbeddableImagesListModule li input, #EmbeddableImagesListModule li label
{
	font-size: var(--CSUISmallFontSize) !important;
}

#Recipients .RecipientGroup>div ul li
{
	margin: 5px !important;
	padding: 5px !important;
}

#Recipients textarea
{
	color: var(--CSUIGreenColor) !important;
	font-family: var(--CSUIMonoFF) !important;
}

#SectionExplanationsModule #SectionAreas>li .Sections li itemCount
{
	color: var(--CSUIGreyColor);
	font-size: var(--CSUISmallFontSize);
	font-family: var(--CSUIMonoFF);
}

#GamesNavModule pane article .TrendingGames li span small
{
	color: var(--CSUIGreyColor);
}

rank
{
	font-family: var(--CSUIMonoFF) !important;
}

#OverviewModule .Content .StatBlock dl dd .ChangeResult_positive
{
	color: var(--CSUIGreenColor);
}

html.Member_Submissions_Todo #SubmissionsListModule recordCell, #TodosModule recordCell
{
	text-align: left;
}

#PortfolioEntriesListModule recordcell.Identifiers a
{
	font-size: var(--CSUIH3FontSize);
}

.HelpBeaconTooltip
{
	color: var(--CSUIGreenColor);
}

#PointsModule span#PointsLeader
{
	font-size: var(--CSUISmallFontSize);
}

#PointsModule span.ClimbedRank
{
	color: var(--CSUIGreenColor) !important;
}

#PointsModule span.DroppedRank
{
	color: var(--CSUIRedColor) !important;
}

html.Member_Submissions_Todo #SubmissionsListModule .Identifiers.Status_Complete>span, #TodosModule .Identifiers.Status_Complete>span
{
	color: var(--CSUIGreenColor) !important;
}

#ProsAndConsModule
{
	font-size: 18px;
}

.ThreadPreview blockquote
{
	font-size: var(--CSUISmallFontSize);
	background: rgba(0, 0, 0, 0.3);
	color: var(--CSUIWhiteColor);
}

#ItemProfileModule .CodeWithLineNumbers .Code
{
	border-left: 1px solid rgba(156, 204, 101, 0.2) !important;
	color: var(--CSUIBodyTextColor) !important;
}

.LineNumbers
{
	color: var(--CSUIGreyColor) !important;
}

#ModInstallerPromoModule ul li a
{
	padding: 10px !important;
	background: var(--CSUIDBGColor) !important;
	border: 1px solid rgba(79, 195, 247, 0.5) !important;
	font-family: var(--CSUIHFF) !important;
}

#WaveformVisualizerModule .Content #SliderWrapper
{
	padding: 5px;
	background: var(--CSUIPanesCardBGColor);
	border: 1px solid rgba(79, 195, 247, 0.5);
}

#ModlogListModule .Action.Severity_positive span
{
	color: var(--CSUIGreenColor) !important;
}

#ModlogListModule .Action.Severity_negative span
{
	color: var(--CSUIRedColor) !important;
}

#LicenseModule article footer
{
	color: var(--CSUIRedColor) !important;
	text-shadow: 1px 1px 1px #000000, 1px 1px 1px #000000, 1px 1px 1px #000000;
}

#LicenseModule .Content
{
	font-family: var(--CSUIMonoFF) !important;
	color: var(--CSUIRedColor) !important;
}

#ItemProfileModule article.IsUnavailable
{
	text-decoration: line-through;
	color: var(--CSUIGreyColor);
}

img.PreviewImage
{
	box-shadow: none !important;
	border: 1px solid #000 !important;
}

#SearchSuggesterModule .GameIndexes
{
	background: var(--CSUIDBGColor) !important;
	border: var(--CSUIDBorder) !important;
}

#DiscussionSectionsSummaryModule li
{
	border: 1px solid rgba(158, 158, 158, 0.5) !important;
	margin: 0px 0px 5px 0 !important;
	padding: 3px 0px 3px 5px !important;
	background: rgba(158, 158, 158, 0.08) !important;
}

#DiscussionSectionsSummaryModule li:hover
{
	background: var(--CSUIButtonBGHoverColor) !important;
	border: var(--CSUIButtonBorderHover) !important;
}

#DiscussionSectionsSummaryModule li.ActiveSection
{
	background: var(--CSUIButtonSelectedBGColor) !important;
	border: var(--CSUIButtonSelectedBorder) !important;
}

.QuickDlTooltip li small
{
	font-size: var(--CSUISmallFontSize);
	margin: 5px 0px 0px 0px;
	color: var(--CSUIGreyColor);
}

#RatingsSummaryModule #OverallRating itemcount
{
	font-size: 30px;
}

progress
{
	border: 1px solid rgba(156, 204, 101, 0.3);
}

.RangeSlider span
{
	font-family: var(--CSUIMonoFF) !important;
	color: var(--CSUIGreenColor) !important;
}

html.Member_Submissions_Flag #SubmissionsListModule .Preview ul, #FlagsModule .Preview ul
{
	color: var(--CSUIRedColor) !important;
}

.PageModule>.LogMessages
{
	color: var(--CSUIGreyColor) !important;
}

#CategoriesListModule record .Icon
{
	opacity: 1;
	margin: 0 10px 0 5px;
}

#RulesModule ol li
{
	font-size: var(--CSUISmallFontSize) !important;
	color: var(--CSUIWhiteColor) !important;
	margin: 10px 3px 10px 3px !important;
}

#ParticipantsListModule .Entries ul li
{
	font-size: var(--CSUISmallFontSize) !important;
	max-width: 125px !important;
}

.PostText>.RichText
{
	background: var(--CSUITextAreaBGColor) !important;
	border: 2px solid rgba(156, 204, 101, 0.2) !important;
 	font-size: 14px;
}

.QuestionPreview blockquote
{
	padding: 10px;
	font-size: var(--CSUISmallFontSize);
	color: var(--CSUIBodyTextColor);
	background: rgba(0, 0, 0, 0.3) !important;
}

.AdvancedElement_Switch.List span
{
	margin: 0 5px;
}

.AdvancedElement_Switch.List ul li
{
	color: var(--CSUIGreyColor) !important;
}

.AdvancedElement_Switch.List ul li:hover, .AdvancedElement_Switch.List ul li.Selected
{
	font-weight: bold !important;
	color: var(--CSUIGreenColor) !important;
}

.Editor .WysiwygPalettes .UsernameInserter ul li:hover, .Editor .WysiwygPalettes .BitpitFileInserter ul li:hover
{
	outline: 1px dashed var(--CSUIGreenColor) !important;
}

.AdvancedElement_InputSuggestionsList
{
	font-family: var(--CSUIMonoFF) !important;
	color: var(--CSUIWhiteColor) !important;
	padding: 5px !important;
	font-size: var(--CSUISmallFontSize) !important;
	background: rgba(0, 0, 0, 0.9) !important;
	border: 1px solid #000 !important;
}

.AdvancedElement_InputSuggestionsList:hover
{
	background: rgba(0, 0, 0, 0.9) !important;
}

.AdvancedElement_InputSuggestionsList li
{
	padding: 2px !important;
	background: var(--CSUIButtonBGColor);
	border: var(--CSUIButtonBorder) !important;
	font-family: var(--CSUIMonoFF) !important;
	color: var(--CSUIButtonTextColor) !important;
	font-size: var(--CSUISmallFontSize) !important;
}

fieldset#Userid .AdvancedElement_InputSuggestionsList li:hover
{
	background: var(--CSUIButtonBGHoverColor) !important;
	border: var(--CSUIButtonBorderHover) !important;
}

#StatsModule ul li
{
	margin: 3px !important;
	padding: 5px !important;
	background: rgba(33, 33, 33, 0.7) !important;
	border: 1px solid #111 !important;
}

#StatsModule ul
{
	margin-bottom: 0;
}
