// TOP AND SIDE NAVIGATOR

#AlertsNavModule pane .Broadcasts>li,
#ActivityNavModule pane .Broadcasts>li
{
	padding: var(--CSUIPanesCardPadding);
	margin: var(--CSUIPanesCardMargin);
	opacity: 0.8; border: var(--CSUIPanesCardBorder) !important;
	background: var(--CSUIPanesCardBGColor);
}

#SearchNavModule pane #SearchOptionsForm
{
	font-size: var(--CSUISmallFontSize);
	border: 2px solid rgba(156, 204, 101, 0.2) !important;
	box-shadow: inset 3px 3px 5px 0px rgba(0, 0, 0, 0.5) !important;
	border-radius: 0 !important;
	background: var(--CSUITextAreaBGColor) !important;
}

#BuddiesNavModule pane article .ChannelContents>.Messages>.SelfMessage .RichText,
#BuddiesNavModule pane article .ChannelContents>.Messages>.Message .RichText
{
	font-size: var(--CSUISmallFontSize) !important;
	background: var(--CSUISLBGColor) !important;
	border-radius: 0 !important;
	border: 0.02px solid rgba(79, 195, 247, 0.5) !important;
}

#BananaNavModule pane article ul li a
{
	font-size: var(--CSUISmallFontSize);
	border-radius: 0;
	padding: 5px;
	background: var(--CSUISLBGColor);
	border: 1px solid rgba(79, 195, 247, 0.5);
	font-family: var(--CSUIHFF) !important;
}

#TopNav,
#SideNav,
#PageFooter
{background: var(--CSUITopSideFooterColor);}

#TopNav module.Selected icon,
#TopNav module.Selected widget,
#SideNav module.Selected icon,
#SideNav module.Selected widget
{background: var(--CSUIPanesBGColor);}

#PersonalNavModule pane .Column1 .Identity,
#PersonalNavModule pane column:nth-child(1) .Identity
{background: rgba(158, 158, 158, 0.1); border: 1px solid rgba(158, 158, 158, 0.2);}

#AlertsNavModule pane .Broadcasts .Unseen,
#ActivityNavModule pane .Broadcasts .Unseen,
#UnseenBroadcastsModule
{color: var(--CSUIWhiteColor); background: var(--CSUINotCardBGColor); border: var(--CSUINotCardBorder) !important;}

#SideNav>wrapper module.HasUpdates icon,
#TopNav #StatsNavModule.PointsGained widget,
#TopNav #StatsNavModule.PointsGained icon,
#SideNav #StatsNavModule.PointsGained widget,
#SideNav #StatsNavModule.PointsGained icon
{background: var(--CSUIGreenColor); border-color: var(--CSUIGreenColor);}

#TopNav #StatsNavModule.PointsLost widget,
#TopNav #StatsNavModule.PointsLost icon,
#SideNav #StatsNavModule.PointsLost widget,
#SideNav #StatsNavModule.PointsLost icon
{background: var(--CSUIRedColor); border-color: var(--CSUIRedColor);}

#AlertsNavModule pane .Controls .MarkAllAsSeen:hover span,
#ActivityNavModule pane .Controls .MarkAllAsSeen:hover span,
#AlertsNavModule pane .Broadcasts .Unseen .BroadcastStatusWrapper:hover span,
#ActivityNavModule pane .Broadcasts .Unseen .BroadcastStatusWrapper:hover span
{background: var(--CSUIGreenColor);}

#AlertsNavModule pane .Controls .MarkAllAsSeen span,
#ActivityNavModule pane .Controls .MarkAllAsSeen span,
#AlertsNavModule pane .Broadcasts .Unseen .BroadcastStatusWrapper span,
#ActivityNavModule pane .Broadcasts .Unseen .BroadcastStatusWrapper span
{background: rgba(156, 204, 101, 0.4); border: 2px solid var(--CSUIGreenColor);}

#TopNav #StatsNavModule pane column:first-child stat rank,
#TopNav #StatsNavModule pane column:first-child stat itemCount,
#SideNav #StatsNavModule pane column:first-child stat rank,
#SideNav #StatsNavModule pane column:first-child stat itemCount
{font-size: var(--CSUIH4FontSize);}

#AlertsNavModule pane .Controls .PageNumber,
#ActivityNavModule pane .Controls .PageNumber
{padding: 5px; color: var(--CSUIGreyColor); font-size: var(--CSUISmallFontSize);}

#AlertsNavModule pane .Broadcasts>li .Messages li,
#ActivityNavModule pane .Broadcasts>li .Messages li
{padding: 5px; border-top: 1px solid rgba(158, 158, 158, 0.3); font-size: var(--CSUISmallFontSize);}

#SearchNavModule #SearchForm input[type=text]
{color: var(--CSUIWhiteColor); font-size: var(--CSUIFontSize); font-family: var(--CSUIMonoFF) !important;}

#MessagesNavModule pane #BuddyChatPromoColumn
{background: var(--CSUIDBGColor); border-radius: 0; font-size: var(--CSUISmallFontSize);}

#ManageNavModule pane .PaneTabs .Selected, #ManageNavModule pane .Panes .Pane.Selected {background: #9e9e9e4d !important;}
#ManageNavModule pane .Panes {background: 0; padding: 0;}
#ManageNavModule ul.PaneTabs {padding: 0;}
#MessagesNavModule pane #LatestPmsColumn li {border-bottom: 1px solid rgba(158, 158, 158, 0.3);}
#BuddiesNavModule pane article .ChannelContents>.Messages>.Message small {color: var(--CSUIGreyColor); font-size: 10px;}
#BuddiesNavModule pane article #BuddyChatInitiators li.Unseen:after {background: var(--CSUIGreenColor);}
#TopNav module.HasUpdates widget {background: var(--CSUIGreenColor); border: 1px solid var(--CSUIGreenColor);}
#TopNav module pane, #SideNav module pane {background: var(--CSUIPanesBGColor); border: var(--CSUIPanesBorder);}
#SideNav>wrapper module pane header:after {bottom: 0px; background: none; border-bottom: 3px solid #000000;}
#NavOptionsNavModule pane textarea {font-size: var(--CSUISmallFontSize); font-family: var(--CSUIMonoFF); color: var(--CSUIGreenColor);}
#BuddiesNavModule pane header {background: initial; border: initial;}
#BuddiesNavModule pane article .ChannelContents>.Messages {background: var(--CSUIDBGColor);}
#BuddiesNavModule pane button:hover {color: var(--CSUIWhiteColor) !important; opacity: 1 !important;}
#SearchNavModule pane #SearchOptionsForm form_extension label span {font-family: var(--CSUIMonoFF);}
#SearchNavModule #SearchForm button {transition: opacity 0.15s ease-in-out !important; margin-left: 10px;}
#BananaNavModule pane article ul li a:hover {background: var(--CSUISLBGColor);}
body[data-_sSideNavMode=Collapsed] #SideNav.Expanded {width: 500px;}

// SUBNAVIGATOR

#SubNavigator,
.AdvancedElement_Tabs
{
	background: var(--CSUIBlurBG);
	border: var(--CSUICardBorder) !important;
	text-align: center; font-family: var(--CSUIHFF) !important;
	justify-content: center;
	margin: 10px auto;
	width: fit-content;
}

#SubNavigator .BasicSubNavigator,
#SubNavigator .DropdownMenuSubNavigator,
#Breadcrumb
{font-family: var(--CSUIHFF) !important; margin-right: 0;}

#SubNavigator .ActiveEntry,
.MainForm .InputsWrapper .CategoryTabs li.Selected,
.AdvancedElement_Tabs li.Selected
{border: 0 !important; background: var(--CSUIButtonSelectedBGColor) !important;}

#SubNavigator .DropdownMenuSubNavigator > li:hover,
.AdvancedElement_Tabs li:hover,
.AdvancedElement_Tabs li.Selected,
.MainForm .InputsWrapper .CategoryTabs li:hover,
#SubNavigator .BasicSubNavigator li:hover,
.AdvancedElement_Tabs.Minimal li:hover
{background: #9e9e9e4d; border: 0;}

.AdvancedElement_Tabs li:hover,
.AdvancedElement_Tabs li.Selected,
#SubNavigator .ActiveEntry
{margin-bottom: 0;}

.MainForm .InputsWrapper .CategoryTabs li:hover,
.MainForm .InputsWrapper .CategoryTabs li.Selected
{color: var(--CSUIWhiteColor);}

#SubNavigator .DropdownMenuSubNavigator > li ul > li:last-child,
.AdvancedElement_Tabs.Minimal
{border: 0 !important; width: auto;}

#SubNavigator .ActiveEntry a,
.AdvancedElement_Tabs li>span
{color: var(--CSUIWhiteColor) !important;}

#SubNavigator .DropdownMenuSubNavigator>li ul {border: 1px solid #000; border-top: 0;}
#SubNavigator .DropdownMenuSubNavigator > li ul > li {background: var(--CSUIDBGColor); border: 0;}
body[data-_sHeaderStyle=Floating] #MainContentHeader.Fixed #SubNavigator {font-size: smaller; background: var(--CSUIDBGColor);}
body[data-_sHeaderStyle=Floating] #MainContentHeader.Fixed {background: none; margin: -10px auto;}
#SubNavigator .DropdownMenuSubNavigator > li ul > li:hover {background: #9e9e9e; border: 0;}
#SubNavigator li itemCount {font-size: var(--CSUIFontSize); color: var(--CSUIGreenColor);}
.AdvancedElement_Tabs li {transition: none;}
