.PostsListModule .Posts>li
{
	margin: 10px 5px !important;
	padding: var(--CSUIPostsPadding) !important;
	background: var(--CSUIPostsBGColor) !important;
	border: var(--CSUIPostsBorder) !important;
}

#DiscussionsListModule .Content .List li
{
	background: var(--CSUIPostsBGColor) !important;
	border: var(--CSUIPostsBorder) !important;
}

#DiscussionsListModule .Content .List li .Row1
{
	border-left: initial !important;
}

.PostHeader
{
	margin: 5px 0px 0px 5px;
}

.PostsListModule .Posts>li .PostReplies.Focussed>.PostsListModule
{
	border-left: 1px solid var(--CSUIWhiteColor) !important;
}

.PostsListModule .Posts>li .PostHeader .PostLabels stateLabel.IsExemplary
{
	color: var(--CSUIGreenColor) !important;
	border: 2px solid var(--CSUIGreenColor) !important;
}

.PostsListModule .Posts>li.IsExemplary
{
	background: rgba(156, 204, 101, 0.1) !important;
	border: 2px solid var(--CSUIGreenColor) !important;
	margin: 0px;
}

.PostsListModule .Posts>li article .PostStamps li[data-_sCategory=positive], #StampsLogListModule .Stamps li[data-_sCategory=positive]
{
	color: var(--CSUIGreenColor) !important;
	border-color: var(--CSUIGreenColor) !important;
}

.PostsListModule .Posts>li article .PostStamps li[data-_sCategory=negative]
{
	color: var(--CSUIRedColor) !important;
	border-color: var(--CSUIRedColor) !important;
}

.PostsListModule .Posts>li article .PostStamps li[data-_sCategory=neutral]
{
	color: var(--CSUIGreyColor) !important;
	border-color: var(--CSUIGreyColor) !important;
}

.PostsListModule .Posts>li article .PostStamps li, #StampsLogListModule .Stamps li
{
	border-left: 5px solid !important;
	background: rgba(0, 0, 0, 0.5) !important;
	padding: 5px !important;
}

@media only screen and (min-width: 400px)
{
	#PostsListModule_0>.Content>.Posts>.Post>.PostReplies>.PostsListModule
	{
		border-left: 1px solid rgba(255, 255, 255, 0.1);
	}
}

@media only screen and (min-width: 400px)
{
	.PostsListModule .Posts>li .PostReplies.Focussed>.PostsListModule
	{
		border-left: 1px solid var(--CSUIWhiteColor);
	}
}

.PostsListModule .Posts>li .PostTools .PostUrlForm>*
{
	font-size: var(--CSUISmallFontSize) !important;
}

.PostsListModule .Posts>li .PostTools
{
	transition: opacity .15s ease-in-out !important;
}

ul.FullStampsDisplay
{
	text-align: center;
	padding: 5px;
}

.PostsListModule .Posts>li .PostLabels>.SolvedIcon_32
{
	top: 25px !important;
	right: 25px !important;
}

.RichText blockquote
{
	opacity: 0.7;
	font-size: var(--CSUISmallFontSize) !important;
	padding: 5px !important;
	border-left: 2px solid var(--CSUIWhiteColor) !important;
	background: rgba(158, 158, 158, 0.07) !important;
}
