.Paginator, .AjaxPaginator
{
	padding: 5px;
	background: var(--CSUIRecordsBGColor);
	border: var(--CSUIRecordTableViewBorder);
	margin: 5px 0px 5px 0px;
	text-align: center;
}

[data-_sViewMode=Classic] records
{
	width: 100%;
	text-align: center;
	border-spacing: 0px;
}

[data-_sViewMode=Classic] columnHeadings columnHeading
{
	background: var(--CSUITableTHBGColor);
	font-weight: bold;
	text-align: center;
	color: var(--CSUITableHeadingColor);
	border-top: var(--CSUITableHeadingBorder);
	border-bottom: var(--CSUITableHeadingBorder);
	font-size: var(--CSUITableHeadingFontSize);
	font-family: var(--CSUIHFF);
	padding: 3px;
}

record
{
	background: var(--CSUIRecordsBGColor);
	border: var(--CSUIRecordCellBorder);
	padding: var(--CSUIRecordCellPadding);
	margin: 10px 5px;
}

[data-_sViewMode=Classic] record recordCell
{
	padding: var(--CSUIRecordCellPadding);
	border-bottom: var(--CSUIRecordTableViewBorder);
}

recordcell.Identifiers
{
	text-align: left;
}

recordCell.Stats
{
	font-size: var(--CSUISmallFontSize) !important;
	text-align: center !important;
	margin: 5px 0;
}

recordCell.Stats statGroup
{
	margin: 5px 0;
}

recordcell.PostId, recordcell.PostDate, recordcell.Suspicions.RedColor, recordcell.Poster
{
	margin: auto 5px;
}

#MembersListModule recordCell.Member
{
	width: initial !important;
	justify-content: center !important;
}

#CategoriesListModule record, #SectionsModule record
{
	padding: 10px;
	margin: 0 0 5px 0;
}

[data-_sViewMode=List] recordCell
{
	margin: 0 0 5px 0;
}

[data-_sViewMode=Grid] records
{
	margin: 0;
	justify-content: space-around;
}

[data-_sViewMode=Grid] record
{
	padding: 0 0 5px 0;
}

recordcell.Parent
{
	text-align: center;
	margin: 5px;
}

[data-_sViewMode=Grid] recordCell.Ownership
{
	top: 5px;
	left: 5px;
}

[data-_sViewMode=Grid] recordCell.Category
{
	top: 5px;
	right: 5px;
}

[data-_sViewMode=List] record
{
	border: 1px solid #000000;
	margin: 5px;
	padding: 5px;
}

[data-_sViewMode=List] record:last-child
{
	border-bottom: 1px solid #000000;
}

[data-_sViewMode=Grid] record .Category, [data-_sViewMode=Grid] record .Ownership
{
	transition: opacity 0.15s ease-in-out;
}

recordcell.Stamps
{
	margin: 5px;
	padding: 5px;
	border: 1px solid #000;
	background: rgba(158, 158, 158, 0.2);
}

#LikesModule record, #ThankersLogModule record
{
	padding: 5px;
	margin: 5px;
	text-align: center;
}

.SubmissionsListModule recordcell.Preview
{
	max-width: initial;
}

#PostsListModule recordCell.Section
{
	padding: 5px;
	border: 1px solid #000;
	background: rgba(158, 158, 158, 0.2);
}

#PostsListModule recordcell
{
	font-size: 16px !important;
	margin: 5px;
}

#StampsLogListModule .Direction .Avatar.HasClearanceLevel
{
	border: 1px solid var(--CSUIRedColor) !important;
}

StampsLogListModule .Direction, #StampsLogListModule .PostInfo
{
	margin: 5px;
}

table
{
	border-spacing: 0;
	width: 100%;
}

td
{
	border-bottom: var(--CSUIRecordTableViewBorder);
	background: var(--CSUIRecordsBGColor);
}

table thead th
{
	font-weight: bold;
	text-align: center;
	color: var(--CSUITableHeadingColor);
	border-top: var(--CSUITableHeadingBorder);
	border-bottom: var(--CSUITableHeadingBorder);
	font-size: var(--CSUITableHeadingFontSize);
	background: var(--CSUITableTHBGColor);
}

table thead th:empty
{
	border-top: var(--CSUITableHeadingBorder);
	border-bottom: var(--CSUITableHeadingBorder);
}

dd
{
	color: var(--CSUIWhiteColor);
}
