/*		VARIABLES		*/

:root
{
	--CSUIMonoFF: "Fira Mono";
	--CSUITextFF: Arimo;
	--CSUIHFF: "Doppio One";
	--CSUIButtonFF: Aldrich;
	--CSUISLFF: "Doppio One";
	--CSUIBodyBG: url(https://i.ibb.co/YLm3nvS/CSUIBG.jpg) no-repeat center center fixed;
	--CSUIBodyColor2: #131313;
	--CSUIContentColumnBGColor: rgba(16, 16, 16, 0.8);
	--CSUIContentColumnBorder: 2px solid #000000;
	--CSUITopSideFooterColor: #151515;
	--CSUIFontSize: 14px;
	--CSUISmallFontSize: 12px;
	--CSUILargeFontSize: 20px;
	--CSUIBodyTextColor: #e0e0e0;
	--CSUIBodyTS: 1px 1px #000;
	--CSUIDBGColor: #212121;
	--CSUIDBorder: 1px solid rgba(158, 158, 158, 0.5);
	--CSUIHColor: #fff;
	--CSUIH3FontSize: 22px;
	--CSUIH4FontSize: 18px;
	--CSUIH56FontSize: 16px;
	--CSUIPMH3UnderlineHeight: 2px;
	--CSUIPMH3UnderlineColor: #fff;
	--CSUIPMH3UnderlineWidth: 100%;
	--CSUIPMH3UnderlineMargin: 3px 0px 0px 0px;
	--CSUISNBorderBottom: 2px solid #000000;
	--CSUISNActiveEntryBGColor: rgba(156, 204, 101, 0.2);
	--CSUISNActiveEntryBorderBottom: 2px solid var(--CSUIGreenColor);
	--CSUISNEntryHoverBGColor: rgba(255, 255, 255, 0.2);
	--CSUISNEntryHoverBorderBottom: 2px solid var(--CSUIWhiteColor);
	--CSUISNListBGColor: rgba(16, 16, 16, 0.9);
	--CSUISNListBGHoverColor: rgba(255, 255, 255, 0.2);
	--CSUISNListBorderColor: 1px solid #000000;
	--CSUISNListBorderHover: 1px solid rgba(255, 255, 255, 1);
	--CSUILinkColor: #ffd54f;
	--CSUILinkHoverColor: #fff;
	--CSUILinkShadow: 1px 1px 1px #000000, 1px 1px 1px #000000;
	--CSUICardBGColor: rgba(158, 158, 158, 0.15);
	--CSUICardBorder: 1px solid rgba(158, 158, 158, 0.3);
	--CSUIPanesBGColor: #1C1C1C;
	--CSUIPanesBorder: 1px solid rgba(0, 0, 0, 1);
	--CSUINotCardBGColor: rgba(156, 204, 101, 0.15);
	--CSUINotCardBorder: 1px solid var(--CSUIGreenColor);
	--CSUIPanesCardBGColor: rgba(158, 158, 158, 0.15);
	--CSUIPanesCardBorder: 1px solid rgba(158, 158, 158, 0.3);
	--CSUIPanesCardMargin: 5px;
	--CSUIPanesCardPadding: 5px;
	--CSUIButtonBGColor: rgba(158, 158, 158, 0.3);
	--CSUIButtonBGHoverColor: rgba(156, 204, 101, 0.8);
	--CSUIButtonBorderHover: 1px solid var(--CSUIGreenColor);
	--CSUIButtonTextColor: #fff;
	--CSUIButtonBorder: 1px solid var(--CSUIGreyColor);
	--CSUIButtonFontSize: 12px;
	--CSUIButtonPadding: 5px;
	--CSUIButtonTextSpanPadding: 1px;
	--CSUIButtonSelectedBGColor: rgba(156, 204, 101, 0.3);
	--CSUIButtonSelectedBorder: 2px solid var(--CSUIGreenColor);
	--CSUIRedColor: #e84e40;
	--CSUIGreenColor: #9CCC65;
	--CSUIGreyColor: #9E9E9E;
	--CSUIWhiteColor: #fff;
	--CSUIPurpleColor: #BA68C8;
	--CSUIBlueColor: #4FC3F7;
	--CSUIIndigoColor: #7986CB;
	--CSUIOrangeColor: #FF7043;
	--CSUIYellowColor: #FFEB3B;
	--CSUITealColor: #80cbc4;
	--CSUIBlueGreyColor: #263238;
	--CSUIRecordsBGColor: rgba(255, 255, 255, 0.07);
	--CSUIRecordsOpacity: 0.8;
	--CSUIRecordsHoverOpacity: 1;
	--CSUIRecordCellPadding: 5px;
	--CSUIRecordCellBorder: 1px solid rgba(255, 255, 255, 0.3);
	--CSUITableHeadingColor: #fff;
	--CSUITableHeadingBorder: 1px solid rgba(255, 255, 255, 0.7);
	--CSUITableHeadingFontSize: 16px;
	--CSUIRecordTableViewBorder: 1px solid #000000;
	--CSUITableTDOpacity: 0.8;
	--CSUITableTDHoverOpacity: 1;
	--CSUITableTHBGColor: rgba(158, 158, 158, 0.15);
	--CSUIPostsBGColor: rgba(17, 17, 17, 0.4);
	--CSUIPostsBorder: 1px solid rgba(158, 158, 158, 0.3);
	--CSUIPostsPadding: 10px;
	--CSUIPostsMarginBottom: 5px;
	--CSUIModalBGColor: rgba(121, 134, 203, 0.07);
	--CSUIModalBorder: 2px solid #000000;
	--CSUITextAreaBGColor: rgba(121, 134, 203, 0.1);
	--CSUITextAreaBorder: 1px solid #000000;
	--CSUITextAreaHoverBorder: 1px solid var(--CSUIGreenColor);
	--CSUISLBGColor: #212121;
	--CSUISLBorder: 1px solid rgba(128, 203, 196, 0.7);
	--CSUISLFontSize: 12px;
	--CSUIULListBGColor: rgba(179, 229, 252, 0.1);
	--CSUIULListBorder: 2px solid #000000;
	--CSUIULListLIBGColor: rgba(129, 212, 250, 0.05);
	--CSUIULListLIBorder: 1px solid #000000;
	--CSUIULColumnBGColor: rgba(16, 16, 16, 0.9);
	--CSUIULColumnBorder: 1px solid #000000;
}
