:root
{
	// CORE

	--CSUIMonoFF: "Fira Mono";
	--CSUITextFF: Arimo;
	--CSUIHFF: "Doppio One";
	--CSUIButtonFF: Aldrich;
	--CSUIBodyBG: url("https://raw.githubusercontent.com/DanialZahid/Dark-Theme-CSUI-/master/assets/bg.webp") no-repeat center center fixed;
	--CSUIFontSize: 14px;
	--CSUISmallFontSize: 12px;
	--CSUILargeFontSize: 20px;
	--CSUITextColor: #e0e0e0;
	--CSUIDBGColor: #212121;
	--CSUIDBorder: 1px solid #111;
	--CSUILinkColor: #ffd54f;
	--CSUILinkHoverColor: #BA68C8;
	--CSUILinkShadow: 1px 1px 1px #000, 1px 1px 1px #000;
	--CSUIBodyTS: 1px 1px #000;
	--CSUICardBorder: 1px solid #111;
	--CSUICardHeaderBG: rgba(17, 17, 17, 0.7);
	--CSUICardBG: rgba(17, 17, 17, 0.5);
	--CSUIDTransition: 0.15s;
	--CSUImatIconColor: var(--CSUIPurpleColor);
	--CSUImatIconHoverColor: var(--CSUIWhiteColor);

	// HEADINGS

	--CSUIHColor: #fff;
	--CSUIH3FontSize: 22px;
	--CSUIH4FontSize: 18px;
	--CSUIH56FontSize: 16px;

	// NAVIGATION

	--CSUITopSideFooterColor: #151515;
	--CSUIPanesBGColor: #1C1C1C;
	--CSUIPanesBorder: 1px solid #000;
	--CSUINotCardBGColor: #9ccc6526;
	--CSUINotCardBorder: 1px solid var(--CSUIGreenColor);
	--CSUIPanesCardBGColor: #9e9e9e26;
	--CSUIPanesCardBorder: 1px solid #9e9e9e4d;
	--CSUIPanesCardMargin: 5px;
	--CSUIPanesCardPadding: 5px;

	// BUTTONS

	--CSUIButtonBGColor: #616161;
	--CSUIButtonBGHoverColor: #9e9e9e;
	--CSUIButtonTextColor: #fff;
	--CSUIButtonFontSize: 12px;
	--CSUIButtonPadding: 5px;
	--CSUIButtonSelectedBGColor: #9ccc654d;

	// RECORDS AND TABLE

	--CSUIRecordsBGColor: #ffffff12;
	--CSUIRecordCellPadding: 10px;
	--CSUIRecordCellBorder: 1px solid #ffffff4d;
	--CSUITableHeadingColor: #fff;
	--CSUITableHeadingBorder: 1px solid #ffffffb3;
	--CSUITableHeadingFontSize: large;
	--CSUIRecordTableViewBorder: 1px solid #000;
	--CSUITableTHBGColor: #9e9e9e4d;

	// POSTS, MODAL, AND INPUT

	--CSUIPostsBGColor: #11111199;
	--CSUIPostsBorder: 1px solid #111;
	--CSUIPostsPadding: 10px;
	--CSUIModalBGColor: #7986cb12;
	--CSUIModalBorder: 2px solid #000;
	--CSUITextAreaBGColor: #7986cb1a;
	--CSUITextAreaBorder: 1px solid #000;
	--CSUITextAreaHoverBorder: 1px solid var(--CSUIGreenColor);

	// LISTS

	--CSUIULListBGColor: #b3e5fc1a;
	--CSUIULListBorder: 2px solid #000;
	--CSUIULListLIBGColor: #81d4fa0d;
	--CSUIULListLIBorder: 1px solid #000;

	// COLORS

	--CSUIRedColor: #e84e40;
	--CSUIGreenColor: #9CCC65;
	--CSUIGreyColor: #9E9E9E;
	--CSUIWhiteColor: #fff;
	--CSUIPurpleColor: #BA68C8;
	--CSUIBlueColor: #4FC3F7;
	--CSUIIndigoColor: #7986CB;
	--CSUIOrangeColor: #FF7043;
	--CSUIYellowColor: #FFEB3B;
	--CSUITealColor: #80cbc4;
	--CSUIBlueGreyColor: #263238;
}
